*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --main: hsl(120, 100%, 25%);
  --main-v2: hsl(120, 100%, 35%);
  --main-v3:  hsl(120, 100%, 40%);
  --main-txt:hsl(0, 0%, 100%);
  --second-main-txt:hsl(120, 100%, 80%);
}

ul,ol,li,a{
  text-decoration: none;
  list-style-type: none;
}

aside{
  width: 20vw;
  display: flex;
  flex-direction: column;
  padding: 1vw;
  gap: 30px;
  min-height: 100vh;

  background-color: var(--main);
  color: var(--main-txt);
  border-right: 5px solid var(--second-main-txt);
}

aside h2{
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 2rem;
}

aside h3{
  font-size: 1rem;
}

aside ul{
  padding-inline: 3vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

aside li,.profile{
  background: var(--main-v2);
  padding-inline: 15px;
  padding-block: 5px;
  border-radius: 10px;
}

aside a{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
  color: var(--second-main-txt);
}

.profile{
  margin-top: 30px;
  display: flex;
}

.profile img{
  aspect-ratio: 1/1;
  border-radius: 100%;
  width: 30px;
}

.profile .accInfo{
  color: var(--second-main-txt);
  padding-block: 10px;
  text-align: center;
}

main{
  margin-left: 20vw;
}
